/.netrwhist
/bundle/ack.vim/
/bundle/Buffet.vim/
/bundle/gist-vim/
/bundle/gundo.vim/
/bundle/nerdtree/
/bundle/vim-coffee-script/
/bundle/vim-multiple-cursors/
/bundle/vim-scala/
/bundle/webapi-vim/
/spell/
